*{
    margin: 0%;
}
 /* -----------header------------ */
 .header-div {
    display: flex;
    height: 40px;
 }
 
 .brand-heading {
    color: #d8232a;
    margin-left: 20px;
    font-family: 'Work Sans', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
 }
 
 .btns {
    margin-left: auto;
    margin-right: 20px;
 }
 
 .login-btn {
    background-color: white;
    padding: 10px;
    border: none;
 
 }
 
 .user {
    font-size: 15px;
 }
 
 .user:hover {
    color: #d8232a;
 }
 
 /* -----navbar------------------ */
 nav {
    height: 60px;
    background-color: #d8232a;
    display: flex;
    justify-content: center;
 }
 .selects {
    margin-top: 13px;
 }
 
 .select-budget {
  
    border: none;
    height: 35px;
    width: 90px;
    border: solid 1px #d8232a;
    border-radius: 30px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 5px;
    margin-right: 10px;
 
 }
 
 .property-type {
    border: none;
    height: 35px;
    width: 135px;
    border: solid 1px #d8232a;
    border-radius: 30px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 5px;
    margin-right: 10px;
 }
 
 .select-posted-by {
    border: none;
    height: 35px;
    width: 115px;
    border: solid 1px #d8232a;
    border-radius: 30px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 5px;
    margin-right: 10px;
 }
 .select-bhk{
    border: none;
    height: 35px;
    width: 70px;
    border: solid 1px #d8232a;
    border-radius: 30px;
    font-size: 15px;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 5px;
 }
 .label-text{
    color: #d8232a;
 }